
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-6-bar {
  --bs-progress-bar-bg: blueviolet  !important;
}

.bg-3-bar {
  --bs-progress-bar-bg: rgba(61, 175, 35, 0.937) !important;
}

.bg-4-bar {
  --bs-progress-bar-bg: rgba(83, 69, 237, 0.937) !important;
}

.bg-0-bar {
  --bs-progress-bar-bg: rgba(255, 0, 0, 0.937) !important;
}

.bg-2-bar {
  --bs-progress-bar-bg: yellow !important;
}

.bg-5-bar {
  --bs-progress-bar-bg: darkblue !important;
}

.bg-1-bar {
  --bs-progress-bar-bg: orange !important;
}
.bg-7-bar {
  --bs-progress-bar-bg: deeppink !important;
}
.bg-8-bar {
  --bs-progress-bar-bg: cyan !important;
}
.bg-9-bar {
  --bs-progress-bar-bg: chocolate !important;
}
